[Unit]
Description=Example of simple using lib-daemon-cpp

[Service]
Type=forking
ExecStart=/usr/local/bin/cputemplogger \
	--log_file /var/log/cputemplogger.log
User=root
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
